body {
    text-align: center;
    margin-top: 50px;
}

h1, h2 {
    color: blue;
}

button {
    padding: 10px;
    font-size: 16px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    cursor: pointer;
    padding: 8px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    margin-top: -1px; /* Remove espaço entre os itens */
}

li:hover {
    background-color: #e9e9e9;
}
